@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gray: #2a2a2a;
  --dark-gray: #1e1e1e;
  --screen-margin: 200px;
  --default-padding: 20px;
  --default-gap: 50px;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--gray);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body,
#root,
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--dark-gray);
  height: 30px;
  width: 100%;
  padding: 20px var(--screen-margin) 20px var(--screen-margin);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* Main component */

main {
  /* margin: 50px 0px 50px 0px; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--default-gap);
}

.main-with-margin {
  margin: 50px var(--screen-margin) 50px var(--screen-margin);
}

.default-margin {
  margin-left: var(--screen-margin);
  margin-right: var(--screen-margin);
}

/* Introduction component */

#Introduction {
  background-color: var(--dark-gray);
  padding: var(--default-padding);
  height: 500px;
}

/* PresentationSlides component */

#PresentationSlides {
  flex-direction: row;
}

.slide-image {
  height: 300px;
  width: auto;
}

/* Media Queries */

@media (max-width: 1500px) {
  :root {
    --screen-margin: 100px;
  }
}

@media (max-width: 1200px) {
  :root {
    --screen-margin: 50px;
  }

  #PresentationSlides {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  :root {
    --screen-margin: 30px;
  }
}

@media (max-width: 540px) {
  .slide-image {
    height: 200px;
  }
}

@media (max-width: 520px) {
  :root {
    --screen-margin: 20px;
  }
}

@media (max-width: 350px) {
  :root {
    --screen-margin: 10px;
  }

  .slide-image {
    height: 150px;
  }
}
