@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gray: #2a2a2a;
  --dark-gray: #1e1e1e;
  --screen-margin: 200px;
  --default-padding: 20px;
  --default-gap: 50px;
  --color-theme-dark: rgb(62, 116, 100);
  --color-theme: rgb(101, 185, 160);
  --color-theme-light: rgb(144, 230, 204);
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  background-color: var(--gray);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body,
#root,
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  width: 100%;
  padding: 20px var(--screen-margin) 20px var(--screen-margin);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

header {
  background-color: rgba(0, 0, 0, 0.301);
  justify-content: space-between;
  gap: 20px;
}

footer {
  background-color: #141414;
}

.emphasize-text {
  color: var(--color-theme);
  /* font-weight: bold; */
  font-style: normal;
}

/* Main component */

main {
  /* margin: 50px 0px 50px 0px; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--default-gap);
  /* max-width: 1200px; */
}

.flex-center,
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--default-gap);
}

.main-section {
  background-color: var(--dark-gray);
  padding: 100px var(--screen-margin) 100px var(--screen-margin);
}

.main-with-margin {
  margin: 50px var(--screen-margin) 50px var(--screen-margin);
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-self: center;
}

.default-margin {
  margin-left: var(--screen-margin);
  margin-right: var(--screen-margin);
}

button {
  font-size: 1rem;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: var(--color-theme-dark);
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 120px;
}

button:hover {
  background-color: var(--color-theme);
}

button:active {
  background-color: var(--color-theme-dark);
}

/* Introduction component */

/* #Introduction,
#ContactMe {
  background-image: url(../images/Waves.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
} */
#Introduction,
#ContactMe {
  position: relative;
}

#ContactMe {
  overflow: hidden;
}

#waves-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* PresentationSlides component */

#PresentationSlides {
  flex-direction: column;
  /* gap: unset; */
  justify-content: space-between;
}

.before-after-slides {
  flex-direction: row;
  /* gap: unset; */
  justify-content: space-between;
}

.slide-image {
  height: 300px;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
}

.illustration-image {
  height: 500px;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
}

/* ContactMe component */

#HireMeButton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: var(--color-theme);
  border: none;
  border-radius: 10px;
}

#HireMeButton:hover {
  background-color: var(--color-theme-light);
}

#HireMeButton:active {
  background-color: var(--color-theme-dark);
}

/* Media Queries */

@media (max-width: 1200px) {
  :root {
    --screen-margin: 50px;
  }

  .before-after-slides {
    flex-direction: column;
    gap: var(--default-gap);
  }
}

@media (max-width: 700px) {
  :root {
    --screen-margin: 30px;
  }
}

@media (max-width: 540px) {
  .slide-image {
    height: 200px;
  }
}

@media (max-width: 520px) {
  :root {
    --screen-margin: 20px;
  }
}

@media (max-width: 350px) {
  :root {
    --screen-margin: 10px;
  }

  .slide-image {
    height: 150px;
  }
}
